.l__tooltip-transition-wrapper-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.l__tooltip-transition-wrapper-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms;
}
.l__tooltip-transition-wrapper-exit {
  opacity: 1;
}
.l__tooltip-transition-wrapper-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 300ms;
}
